@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="featured">
    <div class="container">
        <div class="infobox">
            <div class="leftsideinfo">
                <div class="infotext">@Model.Value("featuredTitle")</div>
                <div class="title">@Model.Value("featuredDescription")</div>
                <button class="learnbtn">@Model.Value("featuredButtonText") <i class="fa-solid fa-arrow-up-right"></i></button>
            </div>
            <div class="rightsideinfo">
                <div class="advice">
                    <i class="fa-light fa-handshake"></i>
                    <div class="title">@Model.Value("featuredAdviceTitle")</div>
                    <div class="ingress">@Model.Value("featuredAdviceDescription")</div>
                </div>
                <div class="startup">
                    <i class="fa-light fa-lightbulb-on"></i>
                    <div class="title">@Model.Value("featuredStartupTitle")</div>
                    <div class="ingress">@Model.Value("featuredStartupDescription")</div>
                </div>
                <div class="financial">
                    <i class="fa-duotone fa-chart-mixed-up-circle-dollar"></i>
                    <div class="title">@Model.Value("featuredFinancialTitle")</div>
                    <div class="ingress">@Model.Value("featuredFinancialDescription")</div>
                </div>
                <div class="risk">
                    <i class="fa-light fa-box-dollar"></i>
                    <div class="title">@Model.Value("featuredRiskTitle")</div>
                    <div class="ingress">@Model.Value("featuredRiskDescription")</div>
                </div>
            </div>
        </div>
    </div>
</section>